@tailwind base;
@tailwind components;
@tailwind utilities;

.sora-header {
  font-family: "Sora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sora-LandingPage{
  font-family: "Sora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sora-CategoryCard{
  font-family: "Sora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}